@model EventApplicationCore.Model.IndexViewModel
@using EventApplicationCore.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{ Layout = "~/Views/Shared/_LayoutCustomer.cshtml"; }

 
 

<div class="container mt-2">
    <form class="row" method="post" onsubmit="senddata()">
        <div class=" col-9 md-form mt-1  mb-2">
            <input class="form-control " name="data" id="srcbox" type="text" placeholder="Search">
        </div>
        <div class="col-3 md-form mt-1 mb-2">
            <input class="form-control btn " type="submit" asp-action="Search" style="        color: white;
        background-color: #eb4800;" value="Search Category" />
        </div>
    </form>
</div>

<div class="container" style="display:flex;justify-content:space-between">



    <div class="col-3">
        @if (HttpContextAccessor.HttpContext.Session.GetInt32("ssShoppingCarCount") != null)
        {


            <a asp-controller="Cart" asp-action="Index" class="nav-link">
                @{
                    var count = HttpContextAccessor.HttpContext.Session.GetInt32("ssShoppingCarCount");
                }
                <i class="fa fa-shopping-cart"></i> &nbsp; (@count)
            </a>


        }
        else
        {

            <a href="#" class="nav-link">

                <i class="fa fa-shopping-cart"></i> &nbsp; (0)
            </a>

        }

    </div>
    <div class="col-3 md-form mt-1 mb-2">
        <a asp-controller="Order" asp-action="OrderHistory" class=" from-control btn btn-success"  style=" color: white;
        background-color: #eb4800; padding-left:70px;padding-right:99px;">
            OrderHistory
        </a>
    </div>

</div>
<section class="navbar main-menu container" id="top-bar">
    <div class="navbar-inner main-menu @*d-flex justify-content-md-start*@ " style="width:100%">


        <nav id="menu" class="pull-right m-0">
            <ul id="menu-filters" class="m-0">
                <li class="filter active  " style="" data-filter=".menu-restaurant"><a>Show All</a></li>
                @foreach (var item in Model.Category)
                {
                    <li class="filter" style="" data-filter=".@item.Name.Replace(" ",string.Empty)"><a>@item.Name</a></li>
                }



            </ul>

        </nav>

    </div>



    @foreach (var category in Model.Category)
    {
        var menuItems = Model.MenuItem.Where(u => u.Category.Name.Equals(category.Name)).ToList();
        <div class="container " id="menu-wrapper" style="">

            @if (menuItems.Count() > 0)
            {

                <div class=" post container @menuItems.FirstOrDefault().Category.Name.Replace(" ",string.Empty) menu-restaurant">
                    <div class="mt-3">
                        <h2 class="text-danger "><strong>@menuItems.FirstOrDefault().Category.Name</strong></h2>
                    </div>
                    <div class="row">
                        @foreach (var item in menuItems)
                        {

                            <div class="   col-md-4 col-lg-4 col-xl-4 border-left" style="height:80%;width:80%;">
                                <div class=" ">
                                    <div class="">
                                        <div class="el-wrapper">
                                            <div class="box-up">
                                                <img class="img" src="@item.Image" alt="">
                                                <div class="img-info">
                                                    <div class="info-inner">
                                                        <span class="p-name">@item.Name</span>
                                                        <span class="p-company">Sale</span>
                                                    </div>
                                                    <div class="a-size">Available sizes : <span class="size">@Html.Raw(item.Discription)</span></div>
                                                </div>
                                            </div>

                                            <div class="box-down">
                                                <div class="h-bg">
                                                    <div class="h-bg-inner"></div>
                                                </div>

                                                <a asp-action="Details" asp-controller="DBook" asp-route-id="@item.Id" class="cart">
                                                    <span class="price">$ @item.Price</span>
                                                    <span class="add-to-cart">
                                                        <span class="txt bg-info btn btn-large text-white" style="border-radius:3px;">Add in cart</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>








                          
                        }
                    </div>
                    <div class="p-4"></div>
                </div>
            }
        </div>

    }

</section>








@section Scripts{


    @*<script>

                function senddata() {

                    var categorySelected = $("#srcbox").val();

                    var url = '/Customer/Home/Search/' + categorySelected;
                    console.log(url);


                    $.ajax({
            type: "POST",
            url: '@Url.Action("/Customer/Home/Search/")',
                        contentType: "application/json; charset=utf-8",
                        data: { a: categorySelected },
            dataType: "json",
            success: function() { alert('Success'); }

        });
                }

            </script>*@


    <script>
        var post = $('.post');

        (function ($) {
            $("#menu-filters li").click(function () {
                $("#menu-filters li").removeClass('active');
                $(this).addClass('active ');

                var selectedFilter = $(this).data("filter");
                $(".menu-restaurant").fadeOut();
                setTimeout(function () {
                    $(selectedFilter).slideDown();
                }, 100);

            });


        })(jQuery);
    </script>


}


