@model EventApplicationCore.Model.OrderListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<form ></form>

<h2 class="text-info">Order Ready for pickup : </h2>
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
        </div>

        <div class="col-6 text-right">
           
        </div>
    </div>
    <br />
    <div>
        @if (Model.Orders.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Orders[0].OrderHeader.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Orders[0].OrderHeader.PickupName)
                    </th>
                   
                    <th>
                        @Html.DisplayNameFor(m => m.Orders[0].OrderHeader.PickUpTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Orders[0].OrderHeader.OrderTotal)
                    </th>

                    <th>Total Items</th>
                    <th></th>

                </tr>
                @foreach (var item in Model.Orders)
                {

                    <tr>
                        <td>@Html.DisplayFor(m => item.OrderHeader.Id) </td>

                        <td>@Html.DisplayFor(m => item.OrderHeader.PickupName) </td>

                      

                        <td>@Html.DisplayFor(m => item.OrderHeader.PickUpTime) </td>

                        <td>@Html.DisplayFor(m => item.OrderHeader.OrderTotal) </td>

                        <td>@Html.DisplayFor(m => item.OrderDetails.Count) </td>
                        <td>
                            <button type="button" class="btn btn-success anchorDetail" data-id="@item.OrderHeader.Id" data-toggle="model">
                                <i class="fa fa-list-alt"> Details</i>
                            </button>

                        </td>
                    </tr>
                }
            </table>
            @*<div page-model="@Model.PagingInfo" Page-Classes-Enabled="true"
                page-class="btn border" page-class-normal="btn btn-light"
                page-class-selected="btn btn-info active"  class="btn-group float-right"></div>*@
            <br />
        }
        else
        {
            <p>No Order History Exist exist</p>
        }
    </div>
</div>


<div class="modal fade" id="myModel" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog-centered modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-header bg-success text-light ">
                <div class="col-10 offset-1">
                    <center>
                        <h5 class="modal-title">Order Details</h5>
                    </center>                </div>
                <div class="col-1">
                    <button type="button" class="float-right btn-outline-secondary close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times; </span>
                    </button>
                </div>
            </div>
            <div class="modal-body justify-content-center" id="myModalContent">

            </div>

        </div>
    </div>
</div>




@section scripts{
    <script>
        $(document).ready(function () {
            $(".modal-dialog").css("width", "70%");
        });
    </script>
    <script>

        var PostbackUrl = '/Customer/Order/Details';
        $(".anchorDetail").click(function () {

            var $ButtonClicked = $(this);
            var id = $ButtonClicked.attr('data-id');

            $.ajax({
                type: "GET",
                url: PostbackUrl,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id },
                cache: false,
                datatype: "json",
                success: function (data) {

                    $('#myModalContent').html(data);
                    $('#myModel').modal('show');
                },
                error: function () {
                    alert("Dynamic Contect load failed");
                }
            })


        });


    </script>
}










